@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
html, body{
    font-family: 'Poppins', sans-serif;
}
a{
    
    text-decoration: none;
    font-weight: 500;
    font-size: 21px;
    color: #000000;
}
.buy{
    color: #2203E4; 
}
nav{
    display: inline-block;
    width: 627px;
    text-align: right;
    
}
.logo{
    width: 183px;
    text-align: left;
    font-weight: 600;
    font-size: 27px;    
    margin-left: 12px
}
.first{
    margin-top: 16px;
    display: inline-block;
}
button{
    background: none;       
} 
header{
    width: 1512px;

}

