.border1{
    width: 300px;   
    margin: 10px auto;
    padding: 15px 15px;
    border: 2px solid red;
    font-size: 20px;
}
.gold-text{
color: gold;
}
a[href="https://uk.wikipedia.org/wiki/Архітектура_системи_команд"]{
color: brown;
font-size: 17px;
}
.green-text{
color: green;   
}
a[href="https://uk.wikipedia.org/wiki/Мікроархітектура"]{
color: rgb(204, 40, 169);
font-size: 17px;
}
.blue-text{
color: blue;
}
a[href="https://uk.wikipedia.org/wiki/Ядро_мікропроцесора"]{
color: rgb(241, 21, 21);
font-size: 17px
}